## encoding: utf-8

<p>
Enter your API key details below.
</p>
<p>
<a target="_blank" href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=134164943">Create a full API key</a>.<br/>
</p>
<p>
<strong>Note:</strong> When creating a new API key, you must click Submit on CCP&apos;s New API Key page to actually save the key.  The keyID and vCode will be found on the <a target="_blank" href="https://community.eveonline.com/support/api-key/">API Key Management page</a>.
</p>

<p>
    <form>
        <input name="key" type="text" class="input-block-level" placeholder="Key ID" pattern="^\d+$" maxlength="8" autocomplete="off" required>
        <input name="code" type="text" class="input-block-level" placeholder="Verification Code" maxlength="64" autocomplete="off" required>
    </form>
</p>
